* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body #app .el-menu {
  position: relative;
}

body #app .el-menu .el-menu-item {
  font-size: 16px;
}

body #app .el-menu .ava {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%) scale(0.8);
}

body #app .swiper {
  width: 100%;
  height: 100%;
}

body #app .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

body #app .swiper-slide img {
  display: block;
  width: 57vw;
  height: 38vh;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  width: 60vw;
}

.swiperCard {
  margin: 0 auto;
  margin-top: 20px;
  width: 60vw;
  height: 45vh;
  border-radius: 15px;
  padding: 10px;
}

.liCard {
  margin-top: 20px;
}

.liCard ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.liCard ul li {
  position: relative;
  width: 525px;
  border-radius: 5px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
}

.liCard ul li img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.liCard ul li img:hover {
  transform: scale(1.2);
}

.liCard ul li p {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(0, 0, 0, 0.5);
  background-size: 7px 13px;
  background-position: 204px center;
  color: #fafafa;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.endCard {
  margin-left: -30px;
  margin-top: 20px;
  width: 1212px !important;
  margin-bottom: 30px;
}

.endCard .mod-hd {
  width: 100%;
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 20px;
}

.endCard .mod-hd h1 {
  height: 38px;
  display: inline-block;
  color: #ffae12;
  font-size: 24px;
  border-bottom: 3px solid #ffae12;
  text-decoration: none;
  line-height: 30px;
  margin-bottom: -2px;
}

.endCard .chongwu_list ul li {
  width: 214px;
  float: left;
  display: inline;
  margin: 0px 20px 20px 0px;
}

.endCard .chongwu_list ul li img {
  width: 214px;
  height: 131px;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.endCard .chongwu_list ul li p {
  line-height: 39px;
  text-align: center;
  height: 39px;
  overflow: hidden;
  width: 100%;
  background: #efefef;
  color: #333;
  font-size: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

footer {
  background-color: #373737;
  color: #f1f1f1;
  padding: 30px 0;
  font-size: 14px;
}

footer .wrapper {
  margin: 0 auto;
  width: 1180px;
}

footer .wrapper .jc_center {
  display: flex;
  justify-content: center !important;
}

footer .wrapper .jc_center p {
  padding: 20px 20px 0;
  border-top: 1px solid #4f5157;
}

a {
  color: #757780;
  text-decoration: none;
}
