<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
		/>
		<link rel="stylesheet" href="./css/index.css" />
		<script src="./js/index.js" type="module"></script>
		<title>首页</title>
	</head>
	<body>
		<div id="app">
			<el-menu
				:default-active="activeIndex"
				class="el-menu-demo"
				mode="horizontal"
				style="display: flex; justify-content: space-around"
			>
				<el-tooltip
					class="item"
					effect="dark"
					:content="`欢迎您，${userName}`"
					placement="bottom"
				>
					<el-avatar class="ava">{{userName}}</el-avatar>
				</el-tooltip>
				<el-menu-item index="1" @click="exit">退出</el-menu-item>
				<el-menu-item index="2">欢迎访问宠物商店</el-menu-item>
				<el-menu-item index="3" @click="goDetail">详情</el-menu-item>
			</el-menu>
			<div class="line"></div>
			<!-- 这里放置卡片 -->
			<el-card style="margin-top: 10px">
				<el-row style="margin-bottom: 15px"
					><h3 style="text-align: center; cursor: pointer" id="categoryDog">
						在售品种
					</h3></el-row
				>
				<el-row>
					<el-col
						:span="8"
						v-for="(dog,index) in aniList"
						:key="dog.id"
						:offset="index > 0 ? 1 : 0"
						class="detailCard"
					>
						<el-card :body-style="{ padding: '0px' }">
							<img :src="dog.img" class="image" />
							<div style="padding: 14px">
								<span>{{dog.name}}</span>
								<div class="bottom clearfix">
									<time class="time">{{ curDate }}</time>
									<el-popover
										placement="bottom-start"
										:title="dog.name"
										width="200"
										trigger="hover"
										:content="dog.detail"
									>
										<el-button type="text" class="button" slot="reference"
											>查看详情</el-button
										>
									</el-popover>
								</div>
							</div>
						</el-card>
					</el-col>
				</el-row>
			</el-card>
			<el-card style="margin-top: 10px" class="impCard">
				<h2
					style="
						font-size: 18px;
						border-bottom: 2px solid #ffae12;
						padding-bottom: 3px;
						font-weight: bolder;
						width: 845px;
						margin: 0 auto;
					"
				>
					精选推荐
				</h2>
				<ul>
					<li class="cardList" v-for="(item,index) in infoList" :key="index">
						<img :src="item.img" alt="" />
						<div class="info_box">
							<h3
								style="
									margin-bottom: 6px;
									color: #4f5157;
									font-weight: 700;
									font-size: 16px;
									line-height: 26px;
									word-break: break-all;
								"
							>
								{{item.title}}
							</h3>
							<p
								style="
									line-height: 24px;
									font-size: 14px;
									color: #666;
									text-align: justify;
									word-break: break-all;
								"
							>
								{{item.info}}
							</p>
							<div class="others">
								<i
									class="el-icon-edit"
									style="margin-right: 10px; font-size: 14px; cursor: pointer"
									@click="showDialog"
								></i>
								<span>{{item.date}}</span>
							</div>
						</div>
					</li>
				</ul>
				<div class="leftBox">
					<h2>7*24h</h2>
					<ul>
						<li class="litItem" v-for="(item,index) in dateList" :key="index">
							<h4>{{item.info}}</h4>
							<p>2022-12-10</p>
						</li>
					</ul>
				</div>
			</el-card>
			<!-- 对话框部分 -->
			<el-dialog
				title="请文明发表您的评论"
				:visible.sync="dialogFormVisible"
				center
			>
				<el-form :model="textForm" ref="myForm">
					<el-form-item
						label="我的评论"
						label-width="90px"
						:rules="rules"
						prop="text"
					>
						<el-input
							type="textarea"
							v-model="textForm.text"
							rows="3"
							autocomplete="off"
							ref="inp"
						></el-input>
					</el-form-item>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button @click="dialogFormVisible = false">取 消</el-button>
					<el-button type="primary" @click="submitForm">确 定</el-button>
				</div>
			</el-dialog>
			<footer>
				<div class="wrapper">
					<div class="cpq flex_box jc_center">
						<p>© 2022 宠物商店</p>
						<p>
							<a href="https://cn.vuejs.org/">详情请致电156****4396</a>
						</p>
					</div>
				</div>
			</footer>
		</div>
	</body>
	<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</html>
