* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
}
ul {
	list-style: none;
}

body {
	background: linear-gradient(0deg, #f4f7ff, #f4f7ff),
		linear-gradient(94.84deg, #fff 3.78%, #fcfdff 9.75%, #e6eeff 102.09%),
		linear-gradient(126.58deg, #fff -18.12%, hsla(0, 0%, 100%, 0) 26.77%);
	.nav {
		width: 100%;
		height: 60px;
		background-color: #fff;
		margin-bottom: 20px;
		ul {
			display: flex;
			justify-content: space-around;
			align-items: center;
			li {
				width: 33.33%;
				height: 60px;
				line-height: 60px;
				text-align: center;
			}
		}
	}
	.container {
		width: 80%;
		margin: 0 auto;
		background-color: #fff;
	}
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 300px; //注意这里写死了高度后面要删
		box-sizing: border-box;
		font-size: 12px;
		padding: 37.5px 0 0 0;
		background: #eaecee;
		margin: 0 auto;
		text-align: left;
		font-family: Gilroy, PingFang SC;
	}
}
